<header>
    <div class="desktop-header">
      <div class="header-first-half">
        <a class="logo" href=""> 
            Shreyam Chandra
        </a>
      </div>
      <div class="header-second-half">
        <nav class="navbar">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
          <a [routerLink]="['/resume']" routerLinkActive="router-link-active" >Resume</a>
          <a [routerLink]="['/projects']" routerLinkActive="router-link-active" >Projects</a>
          <a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>
          
          <div class="navlist"> <div class="pipe"></div> <div class="navItem">Welcome</div></div>
        </nav>
      </div>
     
    </div>
    <div class="mobile-header">
        <div class="burger" (click)="openNav()">
            <div class="burger-line"></div>
            <div class="burger-line"></div>
            <div class="burger-line"></div>
        </div>
        <div class="logo">
            <a class="logo" [routerLink]="['/home']" routerLinkActive="router-link-active" >
              Shreyam 
                <!-- <div class="first-char">S</div> 
                <div>
                    <div class="second-half-char">hrey</div>
                    <div class="second-half-char">am</div>
                </div>  -->
            </a>
        </div>
        
        <div id="mobile-navigation" class="mobile-navigation" (click)="closeNav()">
            <!-- <div class="navbar">
                <div class="navList">
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
                </div>
                <div class="navList">
                    <a [routerLink]="['/eventList']" routerLinkActive="router-link-active" >Events</a>
                </div>
                <div class="navList">Option 1</div>
                <div class="navList">Option 2</div>
                <div class="navList">Option 3</div>
            </div> -->
            <nav class="navbar">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="closeNav()" class="mNavItems">Home</a>
                <a [routerLink]="['/resume']" routerLinkActive="router-link-active" (click)="closeNav()" class="mNavItems">Resume</a>
                <a [routerLink]="['/projects']" routerLinkActive="router-link-active" (click)="closeNav()" class="mNavItems">Projects</a>
                <a [routerLink]="['/contact']" routerLinkActive="router-link-active" (click)="closeNav()" class="mNavItems">Contact</a>
                <div class="closebtn" (click)="closeNav()">&times;</div>

              </nav>

        </div>
    </div>
    <!-- <div class="flower-curtain"></div> -->
  </header>
