<footer>
    <div class="h-line"></div>
    <div class="upper-container">
        <div class="footer-container">
            <div class="header">Phone</div>
            <div class="content">
                +91 7470448887
            </div>
        </div>
        <div class="footer-container">
            <div class="header">Email</div>
            <div class="content">
                shreyam.subhash@gmail.com
            </div>
        </div>
        <div class="footer-container">
            <div class="header">Follow Me</div>
            <div class="content">
                <div class="icon-container "><a href="https://www.linkedin.com/in/shreyam-chandra-275baa190"><img src="../../assets/linkedIn.png" alt="LinkedIn"></a></div>
                <div class="icon-container "><a href="https://www.instagram.com/chandra_shreyam/"><img src="../../assets/Instagram.png" alt="Instagram"></a></div>
                <div class="icon-container "><img src="src/assets/twitter.png" alt=""></div>
            </div>
        </div>
        <div class="footer-container">
            <div class="header">
                Shreyam
            </div>
            <div class="content copywrite">
                &copy; 2022 Crypht Creations  
            </div>  
        </div>
    </div>
   
      
</footer>
