$footer-background-colour: rgb(237 233 207 / 36%);
$font-color:rgb(97, 95, 30);
$h-line-colour :rgb(193, 189, 57);

footer{
    
    position: absolute;
    bottom: aut;
    width: 100%;
    min-height : 150px;
    justify-content: center; 
    background-color: $footer-background-colour;
    
}   
.upper-container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.footer-container{
    width: 20%;
    padding: 0 30px;
    padding-top: 25px;
.header{
    font-family: sans-serif;
    color:$font-color;
    font-weight: bold;
}
.content{
    display: flex;
    font-family: sans-serif;
}
.icon-container{
    padding-right: 20px;
}
}
.h-line{
    left: 0;
    margin-left: 40px;
    width: calc(100% - 40px - 40px);
    min-width: initial;
    height: 5px;
    margin: 0 40px 26px 40px;
    box-sizing: border-box;
    border-top: 1px solid $h-line-colour;

}
.linkedIn{
    background-image: url("./../../assets/linkedIn.png");
    background-size: contain;
    height: 36px;
    width: 36px;
}
.instagram{
    background-image: url("./../../assets/Instagram.png");
    background-size: contain;
    height: 36px;
    width: 36px;
}
.twitter{
    background-image: url("./../../assets/twitter.png");
    background-size: contain;
    height: 35px;
    width: 35px;
}
.whatsapp{
    background-image: url("./../../assets/whatsapp-round.png");
    background-size: contain;
    height: 40px;
    width: 40px;
}
@media only screen and (max-width: 800px){
    footer{
        bottom:auto;
    }
    .upper-container{
        flex-direction: column !important;
    }
    .footer-container{
        width: 80%;
        padding-right: 0 ;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
    .copywrite{
        padding-bottom: 10px;   
    }
    .h-line{
        width: 100%;
        margin-left: 0;
    }
}