<section class="host">
    <div class="top-header">Contact</div>
    <p class="container text">Looking forward to hearing from you.</p>
    <div class="container">
        <div class="header">Phone</div>
        <div class="content">
            +91 7470448887
        </div>
    </div>
    <div class="container">
        <div class="header">Email</div>
        <div class="content">
         shreyam.subhash@gmail.com
        </div>
    </div>
    <div class="container">
        <div class="header">Follow Me</div>
        <div class="content">
            <div class="icon-container "><a href="https://www.linkedin.com/in/shreyam-chandra-275baa190"><div class="linkedIn"></div> </a></div>
            <div class="icon-container "><a href="https://www.instagram.com/chandra_shreyam/"> <div class="instagram"></div></a></div>
            <div class="icon-container "> <a href="https://wa.me/7470448887"> <div class="whatsapp"></div></a></div>
            <div class="icon-container "> <div class="twitter"></div></div>
        </div>
    </div>
</section>
