<section class="host">
    <div class="header">Resume</div>
    <div class="content">
        <div class="topic">Work Experience</div>
        <div class="topic-content">
            <div class="topic-items">
                <div class="period">2021 - Present</div>
                <div class="item-desc">
                    <div class="designation">R & D Engineer</div>
                    <div class="desc">I work as a full-stack software developer. The major technological tools I use are Angular for frontend and .NET for backend and APIs.</div>
                </div>
            </div>
            <div class="topic-items">
                <div class="period">May - June 2019</div>
                <div class="item-desc">
                    <div class="designation">Intern ( 5G Testbed )</div>
                    <div class="desc">Under the guidance of Dr. Arzad Alam Kherani, I worked on architectural designing of Mobile Edge Computing in 5G testbed project. I learned a lot from the exposure I had in this project.</div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="h-line"></div>
    <div class="content">
        <div class="topic">Education</div>
        <div class="topic-item">
            <div class="period">2017 - 2021</div>
            <div class="item-desc">
                <div class="designation">IIT Bhilai | Electrical Engineering</div>
                <div class="desc">I had exposure to state of the art technologies and participated in research on a few techologies (Mobile Edge Communicaiton, etc). I also experienced cultural diversity and gained management experience. </div>
            </div>
        </div>
    </div>
    <div class="h-line"></div>
    <div class="content">
        <div class="topic">Skills & Expertise</div>
        <div class="topic-item">
            <div class="period"></div>
            <div class="item-desc">
                <ul>
                    <li class="desc "> Website creation like this one.</li>
                    <li class="desc "> Experienced in Angular framework to create responsive websites.</li>
                    <li class="desc "> Knowledge of DOTNET framework to create APIs.</li>
                    <li class="desc "> Well versed in Java and OOPs methodology</li>
                </ul>
            </div>
        </div>
    </div>
</section>