$h-line-colour :rgb(193, 189, 57);
$header-color: rgb(62, 60, 19);

.host{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.header{
    width: 70%;
    padding: 60px;
    font-size: 4em;
    color: $header-color;

}
.content{
    width: 70%;
    display: flex;
    flex-direction: row;
}
.topic{
    width: 50%;
    color: $header-color;
    font-size: larger;
    font-weight: bold;
    padding: 15px 0;
}
.topic-content{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.topic-items{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
}
.topic-item{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.period{
    padding-right: 20px;
    min-width: 110px;
    color: rgb(83, 95, 107);
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.designation{
    padding-bottom: 8px;
    font-size: 1.3em;
    font:  normal normal normal 18px/1.4em worksans-semibold,'work sans',sans-serif;
    font-weight:550;
    color: $header-color;
}
.desc{
    color:slategray;
    font-size: 1.2em;
    font-family:normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
    line-height: 150%;
    
}
.h-line{
    left: 0;
    margin-left: 40px;
    width: calc(100% - 40px - 40px);
    min-width: initial;
    height: 5px;
    margin: 0 40px 26px 40px;
    box-sizing: border-box;
    border-top: 1px solid $h-line-colour;
    margin: 40px 20px ;

}
ul{
    padding:10px;
    margin-bottom: 40px;
}
@media only screen and (max-width: 800px){
    .host{
        align-items: flex-start;
    }
    .header{
        width: 80%;
        font-size: 3em;
        padding: 20px;
    }
    .topic{
        font-size: 1.6em;
    }
    .period{
        font-size: 1em;
    }
    .designation{
        font-size: 1.2em !important;
    }
    .desc{
        font-size: 1.1em;
        text-align: justify;
        text-justify: inter-word;
    }
    .content{
        flex-direction: column;
        width: 90%;
        padding-left: 30px;
    }
    .h-line{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .topic-item{
        flex-direction: column;
        width: 90%;
    }
    .topic-items{
        flex-direction: column;
        width: 90%;
    }
    .topic-content{
        width: 100%;
    }
}