<section class="host">
    <div class="header">Resume</div>
    <div class="content">
        <div class="topic">Work Experience</div>
        <div class="topic-item">
            <div class="period">2021 - Present</div>
            <div class="item-desc">
                <div class="designation">R & D Engineer</div>
            </div>
        </div>
    </div>
    <div class="h-line"></div>
    <div class="content">
        <div class="topic">Education</div>
        <div class="topic-item">
            <div class="period">2017 - 2021</div>
            <div class="item-desc">
                <div class="designation">IIT Bhilai | Electrical Engineering</div>
            </div>
        </div>
    </div>
    <div class="h-line"></div>
    <div class="content">
        <div class="topic">Skills & Expertise</div>
        <div class="topic-item">
            <div class="period"></div>
            <div class="item-desc">
                <div class="designation">R & D Engineer</div>
            </div>
        </div>
    </div>
</section>