<div class="home-container">
    <div class="left-container">
        <img src="/src/assets/profile-picture.JPG" alt="Profile Picture" class="profile-picture">
    </div>
    <div class="right-container">
        <div class="part-1">
            Aloha
        </div>
        <div class="part-2">
            A bit about me
        </div>
        <div class="part-3">

        </div>
    </div>
    
</div>
<div class="my-journey">
    ABB
    IIT Bhilai
    St.Micheals
</div>
<div class="trip-and-tours">
    Places I hv been to and places I plan to go in the future.
    
</div>
<div class="my-principles">
    Hedonist
    TNT trying new THings is a blast

</div>