<div class="home-container">
    <div class="left-container">
        <!-- <img src="/src/assets/profile-picture.JPG" alt="Profile Picture" class="profile-picture"> -->
    </div>
    <div class="right-container">
        <div class="part-1">
            Namaste
        </div>
        <div class="part-2">
            A bit about me
        </div>
        <div class="part-3">
            A tech enthusiast aiming towards financial independence. Always eager to Try New Things (TNT). Loves creativity and promotes innovation. I am Shreyam Chandra and I believe in taking the leap.
        </div>
        <div class="part-4">
            <a class="sub-section resume animate__animated animate__bounce" [routerLink]="['/resume']" routerLinkActive="router-link-active" >
                Resume
            </a>
            <a class="sub-section myWorks" [routerLink]="['/projects']" routerLinkActive="router-link-active" >
                Projects
            </a>
            <a class="sub-section aboutMe" [routerLink]="['/contact']" routerLinkActive="router-link-active" >
                Contact
            </a>
        </div>
    </div>
    
</div>
